body {
    font-family: sans-serif;
    background-color: beige;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
}



img {
    display: flex;
    width: 100px;
    height: 100px;
}

.footer {
    display: flex;
    align-items: end;
}